@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
}

.modal {
  width: 500px;
  max-width: 90%;
}
.modal-buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.toast {
  max-width: 90%;
}
